*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Roboto;
}

:root {
    --primary: #1e90ff;
    --secondary: #12515f;
    --gray: #658292;
    --liteGray: #E3E3E3;
    --white:#ffffff;
  }

body{
    margin: 0;
    height: 100%;
    background: rgba(241, 238, 238, 0.8);
}

header{
    padding: 15px 0;
    background-color: var(--white);
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.logo-content img{
    width: 43px;
    height: 43px;

}

.logo-text{
    display: block;
    font: normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    margin-left: 5px;
    color: var(--primary);
    text-transform: capitalize;
}

.logo-book{
    color: var(--secondary);
}

/* header ended here */

.main-content{
    margin: 2rem 0;
    min-height: calc(100% - 80px);
    display: flex;
    justify-content: center;
}

.form {
    width: 65%;
    margin: 15px 0;
    background: var(--white) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
}

.form-header{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    background: var(--primary) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    outline: none;
    border: none;
}

.form-header .heading{
    flex-grow: 1;
    color: var(--white);
    text-align: center;
    font: normal normal normal 22px/31px Roboto;
    letter-spacing: 0px;
    color: var(--white);
    text-transform: uppercase;
    opacity: 1;
}

.cancel-button{
    float: right;
    transform: rotate(45deg);
}

.form-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
    width: 70%;
}

.subRow-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subRow-content > div {
    margin-right: 5px;
}

.label {
    min-width: 100%;
}

label {
    padding: 10px 0px;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    width: 100%;
}


.submit-reset{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 5rem;
    width: 70%;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #E2E2E2 0% 0% no-repeat padding-box;
}

.submitButton {
    background-color: #f5f5f5;
    margin-right: 30px;
}

@media only screen and (max-width: 960px) {

    .form {
        width: 85%;
    }

    .row-content {
        width: 80%;
    }

    .subRow-content {
        flex-direction: column;
        width: 100%;
    }

    .subRow-content > div {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .form {
        width: 90%;
    }

    .row-content {
        width: 80%;
    }
    
    select{
        width: 100%;
    }

    .subRow-content {
        flex-direction: column;
        width: 100%;
    }

    .subRow-content > div {
        width: 100%;
    }

    .submit-reset{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .button{
        margin: 10px 0;
    }
}

